 <h1 style="color:rgb(236, 148, 46); text-align: center;" >Go Shoppy</h1>


<!-- <div class="alert alert-success">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">

        </div>
        <ul class="nav navbar-nav">
          <li><a routerLink="/users">Manage Users</a></li>
          <li><a routerLink="products" >Manage Products</a></li>
          <li><a routerLink="retails" >Manage Retailers</a></li>
          <li><a routerLink="newProd">View new Requests</a></li>
          <li><a routerLink="category">Manage categories</a></li>
        </ul>
      </div>
    </nav>
  </div> -->
  <div>
    <router-outlet></router-outlet>
  </div>
