
<div>
    <h1 class="text-center">Edit and update retailer</h1>
</div>

<form [formGroup]="editRetailer" (ngSubmit)="updateRetailer()" align="center">
     <!-- <div class="form-group">
         <label>Company Name</label>
         <input type="text" class="form-control" placeholder="Company name" formControlName="Company_Name">
     </div> -->


     <div class="form-group">
        <label>Retailer Name</label>
        <input type="text" class="form-control" placeholder="Retailer name" formControlName="Retail_Name">
    </div>


    <!-- <div class="form-group">
        <label>Retail Password</label>
        <input type="text" class="form-control" placeholder="Retail Password" formControlName="Retail_Password">
    </div> -->


    <div class="form-group">
        <label>Retail Phone</label>
        <input type="number" class="form-control" placeholder="Retail Phone" formControlName="Retail_Phone">
    </div>


    <div class="form-group">
        <label>Retail Email</label>
        <input type="email" class="form-control" placeholder="Retail Email" formControlName="Retail_Email">
    </div>


    <div class="form-group">
        <label>Retail Status</label>
        <!-- <input type="text" class="form-control" placeholder="Retail Status" formControlName="Retail_Status"> -->
        <select class="form-control" placeholder="Retail Status" formControlName="Retail_Status">
            <option value="approved">approve</option>
            <option value="pending">pending</option></select>
    </div>


    
    <button type="submit" class="btn btn-primary">update</button>
    

</form>